*/target/
*/*.iml
/.idea
*/.mvn/
*/target
/gmall-manage-web/.mvn
/gamll-*/.mvn
/gmall-manage-service/gmall-manage-service.iml
/gmall-parent/gmall-parent.iml

/gmall-service-util/gmall-service-util.iml
